apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
namespace: default
images:
- name: registry.digitalocean.com/tanmaybhat/saymyname
  newTag: v1.0.13
